<div class='container'>
	<h1>The motherfucking data!</h1>

	<h3>Foods</h3>
	<%= @foods %>
	<% @foods.each do |key, val| %>
	    <p><%= key %>: <%= val %></p>
	<% end %>

	<h3>Reactions</h3>
	<%= @doof %>
	<% @doof.each do |key, val| %>
	    <p><%= key %>: <%= val %></p>
	<% end %>



</div>